@import "../../../scss/custom";
#head {
    @include media-breakpoint-down(sm) {
        height: 80vh;
        background-color: $red;
        .text {
            padding: 15vh 20vw 20px 10vw;
            color: beige;
            .imie {}
            .secondary {
                color: $dark;
            }
        }
    }
    @include media-breakpoint-up(sm) {
        height: 70vh;
        background-color: $red;
        .text {
            padding: 20vh 40vw 20px 10vw;
            color: beige;
            .imie {}
            .secondary {
                color: $dark;
            }
        }
    }
    @include media-breakpoint-up(sm) {}
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
    @include media-breakpoint-up(xl) {}
    @include media-breakpoint-down(xs) {}
    @include media-breakpoint-down(sm) {}
    @include media-breakpoint-down(md) {}
    @include media-breakpoint-down(lg) {}
}