@import "../../../scss/custom";
#about {
  position: relative;
  top: -30vh; //   left: -15vw;
  z-index: 2;
  @include media-breakpoint-down(sm) {
    padding: 5% 0 5% 10%; // height: 40vh;
    animation: slide-left2 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  }
  @include media-breakpoint-up(sm) {
    padding: 5% 1% 5% 25%; // height: 40vh;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  }
  @include media-breakpoint-up(md) {
    padding: 5% 5% 5% 25%; // height: 40vh;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  }
  @include media-breakpoint-up(lg) {
    // height: 50vh;
    padding: 5% 5% 5% 25%;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  }
  .o {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-weight: 400;
    line-height: 1.2;
  }
  background-color: white;
  .h5 {
    color: $red;
  }
}

@keyframes slide-left2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
}
